html, body {
    margin: 0;
    min-height: 100%;
    font-family: Arial, sans-serif;
}
ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}
.container {
    padding: 8px 12px;
}
.header {
    display: flex;
    justify-content: flex-end;
    color: #fff;
    background-color: #29487d;
}
.signin-form {
    display: flex;
    align-items: center;
}
.main {
    display: flex;
    min-height: calc(100vh - 57px);
}
.chats {
    border-right: 2px solid #29487d;
}
.new-chat {
    border-bottom: 2px solid #29487d;
}
.chats-list__item {
    border-bottom: 1px solid #29487d;
}
.chat {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
.messages-list {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border: 2px solid #29487d;
    border-radius: 4px;
}
.messages-list__item {
    font-size: 12px;
    color: #fff;
    background: #29487d;
    border-radius: 4px;
}

.messages-list__item.self {
    align-self: flex-end;
    background-color: #69a74e;
}

.new-chat-form {
    height: 40px;
}

.chat-form {
    display: flex;
    flex-direction: column;
    margin-top: 12px;
}
.chat-form textarea {
    resize: none;
    min-height: 80px;
    font-size: 16px;
    border: 2px solid #29487d;
    border-radius: 4px;
}
.chat-form button {
    align-self: flex-end;
    margin-top: 12px;
    font-size: 16px;
    color: #ffffff;
    background-color: #29487d;
    border-radius: 4px;
    cursor: pointer;
}

